
@import "palette";

@exists_scraper_background_color: #D9FFA9;
@dne_scraper_background_color: #FFD9A9;

.object {
	padding: 10px;
	border: 1px solid @section_border_color;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	margin-bottom: 5px;
}

.object .type {
	width: 6%;
	display: inline-block;
	font-size: 1.6em;
}

.object .brief_content {
	display: inline-block;
	margin-left: 5px;
}

.object .brief_content .field {
	display: inline-block;
	margin-left: 15px;
	font-size: 1.3em;
}

.object .long_content {
	margin-top: 5px;
	display: none;
}

.object .long_content .content {
	margin-top: 5px;
}

.object .field.name {
	display: inline-block;
	font-weight: bold;
}

.object .field.value {
	display: inline-block;
}

.object.scraper.dne {
	background-color: @dne_scraper_background_color;
}

.object.scraper.exists {
	background-color: @exists_scraper_background_color;
}
