%div.navigation
	%div.global_navigation.sub_navigation
		%div.link
			%a{:href => "/"} Home
		- if user_signed_in?
			.link
				= link_to 'Scrapers', scrapers_url
			.link
				= link_to 'Pages', pages_url
			.link
				= link_to 'Postings', postings_url
	%div.user_navigation.sub_navigation
		%div.link
			- if user_signed_in?
				%a{:href => destroy_user_session_url } Logout
			- else
				%a{:href => new_user_session_url } Login
